<md-sidenav-layout fullscreen>
  <md-sidenav #sidenav>
    <md-nav-list>
      <a (click)="sidenav.close()" [routerLink]="['Dashboard']" md-list-item>
        <md-icon md-list-icon>assignment ind</md-icon>
        <span md-line>Dashboard</span>
        <span md-line class="secondary">Dashboard</span>
      </a>
      <a (click)="sidenav.close()" [routerLink]="['Heroes']" md-list-item>
        <md-icon md-list-icon>pets</md-icon>
        <span md-line>Heroes</span>
        <span md-line class="secondary">Heroes</span>
      </a>
      <a (click)="sidenav.close()" [routerLink]="['Weight']" md-list-item>
        <md-icon md-list-icon>assignment ind</md-icon>
        <span md-line>Weight</span>
        <span md-line class="secondary">Weight Chart</span>
      </a>
    </md-nav-list>
  </md-sidenav>

<md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    Angular Material2 Example App

    <span class="app-toolbar-filler"></span>
  </md-toolbar>  

  <div class="app-content">
    <md-card-container>
      <md-card>
        <h1>{{title}}</h1>
        <router-outlet></router-outlet>
      </md-card>
    </md-card-container>
  </div>
  
</md-sidenav-layout>

